<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem *ngFor="let type of types" >
    <a
    ngbNavLink
    [routerLink]="['/navigator']"
    [queryParams]="{ tab: type.id}"
     >{{type.type}}</a>

    <ng-template ngbNavContent>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
          </tr>
      </thead>
      <tbody *ngFor="let investor of investors">
        <tr *ngIf="investor.type === type.type" >
          <td>{{investor.name.first + ' ' + investor.name.last}}</td>
          <td>{{investor.amount}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

